.body {
  background-image: url("../img/AbnerLaura-1.jpg");
  background-color: #cccc;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 100%;
}

@media screen and (max-width: 480px) {
  .body {
    background-image: url("../img/AbnerLaura-1.jpg");
    background-color: #cccc;
    background-size: auto;
    background-position: center;
    width: 100%;
    height: auto;
  }
}

.code-master__body {
  grid-area: second;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: 
    'left...'
    'carousel carousel'
    'footer footer';
  grid-template-rows: 30% 30% 30%;
  grid-template-columns: 100% 0%;
}

.content {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #ffff;
  font-size: 1.6rem;
  width: 100%;
  margin-left: 50px;
}

.content__container {
  display: flex;
  width: 30%;
}

.content__button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 50px;
  width: 100px;
  background-color: #303249;
  border: none;
  border-radius: 40px;
  color: #ffff;
  font-size: 1rem;
  margin-right: 150px;
}

.content__button:active{
  position: relative;
  top: 5px;
  box-shadow: none;  
  background-color: rgba(255,255,255,0.3);
  transition: ease-in 1ms;
}

.content__sub-title {
  font-size: 1rem;
  margin-top: 50px
}


textarea:focus,
input:focus,
button:focus,
select:focus {
border-color: none !important;
outline: 0;
-webkit-box-shadow: none !important;
box-shadow: none !important;
}

.first {
  background-image: url("../img/AbnerLaura-1.jpg");
  transition-duration: 1s;
}

.second {
  background-image: url("../img/AbnerLaura-2.jpg");
  transition-duration: 1s;
}

.third {
  background-image: url("../img/AbnerLaura-3.jpg");
  transition-duration: 1s;
}

.fourth {
  background-image: url("../img/AbnerLaura-4.jpg");
  transition-duration: 1s;
}

.fifth {
  background-image: url("../img/AbnerLaura-5.jpg");
  transition-duration: 1s;
}

.sixth {
  background-image: url("../img/AbnerLaura-6.jpg");
  transition-duration: 1s;
}

.seventh {
  background-image: url("../img/AbnerLaura-7.jpg");
  transition-duration: 1s;
}

.eigth {
  background-image: url("../img/AbnerLaura-8.jpg");
  transition-duration: 1s;
}

.ninth {
  background-image: url("../img/AbnerLaura-9.jpg");
  transition-duration: 1s;
}

.tenth {
  background-image: url("../img/AbnerLaura-10.jpg");
  transition-duration: 1s;
}

.footer {
  color: #ffff;
  text-align: center;
  font-size: 0.8rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}
